/* 2017 CSS Mitoo all rights reserved. */

/* 스타일 초기화 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* 숨긴 콘텐츠 */
.hidden, .skip-nav, legend {
  position: absolute;
  left: -9999em;
}

/* 본문스타일 */
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

a {
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
}  */


body {
  background-image: url(images/main.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-attachment: fixed;
  width: 100%; 
}

/* wrapper */

.wrapper {
  width: 100%;
}

.header {
  margin: 40px 8.33% 0;
}

/* header 시작 */
.headerHeading {
  position: absolute;
  top: 34px;
  left: 3.54%;
}

.ioButton {
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  /* cursor: pointer; */
  font-size: 18px;
}

.nav {
  float: right;
}

.nav::after {
  content: "";
  display: block;
  clear: both;
}

.navMenu {
  color: rgb(255, 255, 255);
}

.navMenuList{
  display: inline-block;
  margin: 0 0 0 60px;
  padding: 0 0 10px; 
  cursor: pointer;
  font-size: 1em;
}

.navMenuList:hover, .ioButton:hover {
  color: rgb(67, 243, 208);
}

/****************************************
* burger bar *
****************************************/

.burggerMenu {
  border: rgb(255, 255, 255) solid 2px;
  border-radius: 50%;
  cursor: pointer;
  /* 원 크기 */
  height: 34px;
  width: 34px;
  /* 삼선 위치 조절 */
  padding-left: 5px; 
  padding-top: 8px; 
  position: relative;
  transition: all 0.4s ease;
  user-select: none;
  float: right;
}

.burggerMenu::after {
  content: "";
  display: block;
  clear: both;
}

.burggerMenu:hover {
  border: rgb(67, 243, 208) solid 2px;
  background-color: rgb(67, 243, 208); 
}

.burggerBun {
  background: rgb(255, 255, 255);
  position: relative;
  transition: all 0.4s ease;
}

.burggerBunTop {
  height: 2px;
  top: 0;
  width: 20px;
}
.burggerBunMid {
  height: 2px;
  top: 4px;
  width: 20px;
}
.burggerBunBottom {
  height: 2px;
  top: 8px;
  width: 20px;
}

/* header 종료 */

/****************************************
* header memo *
전체 사진을 위해 background-image 사용
button, nav : padding를 활용하여 클릭범위 확장
****************************************/


/* main container */
 .mainContainer {
  margin: 0 8.33%;
}

/* main */
/* 화면의 전체 높이 100% */
/* header 와 간격 padding, 마진 삭제 현상 발생 */
.main {
  margin-bottom: 15%;
  padding-top: 15%;
}

.main::after {  
  content: "";
  display: block;
  clear: both;
}

.mainText {
  font-size: 3em;
  width: 80%;
  color: rgb(255, 255, 255);
}

.mainList { 
  margin-top: 12%;
  text-align: center;
  /* inline-block 여백 4px 제거 */
  font-size: 0;
  width: 100%;
}

.brandingList, .interviewedList, .packagingList {
  display: inline-block;
  width: 33.3%;
  border-top: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: left;
}

.BrandingHeading, .InterviewedHeading, .packagingHeading {
  margin-top: 10%;
}

.brandingList:hover,
.interviewedList:hover,
.packagingList:hover {
  color: rgb(67, 243, 208);
  border-top: 1px solid rgb(67, 243, 208);
}

/* main container 종료 */

/* navSub */

.subHeaderWrapper {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
}

.subHeader {
  margin: 40px 8.33% 0;
  line-height: 50px;
}

 .subHeading {
  position: absolute;
  top: 8px;
  left: 3.54%;
} 

.subIoButton {
  background: none;
  color: rgb(34, 35, 36);
  border: none;
  /* cursor: pointer; */
  font-size: 18px;
  line-height: 50px;
}

.subNav {
  float: right;
}

.subNav::after {
  content: "";
  display: block;
  clear: both;
}

.subNavMenu {
  color: rgb(34, 35, 36);
}

.subNavMenu::after {
  content: "";
  display: block;
  clear: both;
}

.subNavMenuList{
  display: inline-block;
  margin: 0 0 0 60px;
  cursor: pointer;
  font-size: 1em;
}

.subNavMenuList:hover, .subIoButton:hover {
  color: rgb(67, 243, 208);
}

/* image-box 시작 */
/* 반응형 박스 제작 */

/* 전체박스 레이아웃 구성 */
/****************************************
* padding-bottom을 활용한 반응형 사각박스 만들기 *
widht %는 부모컨테이너의 폭을 기준
heigth는 %는 컨테이너의 세로높이 기준
- 항상 크기가 유지되는 사각형을 얻기 힘들다.

해결방법) padding-bottom 컨테이너
패딩값은 컨테이너의 넓이값을 기준으로 하며 width속성과 동일함

내부의 콘텐츠를 배치할 때 콘텐츠의 절대높이로 기준을 잡기 위해
position:relative를 사용한다.

보여주고자 하는 이미지의 상위 레이어에 해당 크기의 패딩박스를 만들어
보여주고 싶은 것을 선택할 수 있다.

크기와 관계없이 정사각형(직사각형)을 만들 수 있음
비율이 유지될 수 있음

주의) 콘텐츠를 삽입하면 콘텐츠의 높이만큼 패딩이 늘어남
해결) 콘텐츠를 absolute하여 해결한다.
****************************************/

.imagesWrapper {
  background-color: rgb(0, 0, 0);
}

/* layout 안정장치 */
.imagesWrapper::after {
  content: "";
  display: block;
  clear: both;
}

/* 초기 : 내부 이미지는 왼쪽 상단으로 정렬되어 있음 */
.image-box {
  float: left;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  /* 테두리를 벗어난 요소 숨김 */
   overflow: hidden; 
}

.image-box a {
  display: block;
  position: relative;
  color: inherit;  
}   

/****************************************
* memo *
내부 콘텐츠 absolute된 콘텐츠의 기준점 설정
****************************************/

.image-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  /* scale ani */
  transform: scale(1);
  transition: all 0.7s ease-in-out; 
}

.image-img:hover {
  transform: scale(1.2);
}

/* 이미지 중앙 설정 */
.image-fit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}  

.image-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #000;
  /* hover ani */
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

/* 내부 콘텐츠 중앙 정렬 */
.image-title, .image-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.image-arrow {
  color: rgba(255, 255, 255, 0.3);
  width: 10%;
  margin-top: 8%;
}

/* hover 작동 */
.image-box:hover .image-contents {
  opacity: 0.8;
}

/* image box 종료 */


/****************************************
*communuity Wrapper *
****************************************/

/* communication */
.communityWrapper {
  width: 100%;
  background-color: rgb(10, 10, 10);  
}

.communityContainer {
  margin: 0 8.33%;
  color: rgb(255, 255, 255);
}

/* news */
.news {
  position: relative;
  /* 세로 중앙 정렬 */
  padding: 4.42% 0;
}

.new::after {
  content: "";
  display: block;
  clear: both;
}

.newsHeading {
  position: absolute;
}

.newsMainContent {
  display: inline-block;
  width: 32.7%;
  margin: 0 4% 0 12%;
}

.newsSubContent {
  display: inline-block;
  width: 32.7%;
  margin: 0 3% 0 8%;
}

.newsContentHeading{
  font-size: 1.2em;
  font-weight: 300;
}

.newsContentDate {
  display: inline-block;
  font-size: 12px;
  color: rgb(85, 85, 85);
  margin-top: 3%;
}

.newsMainArrow {
  position: absolute;
  font-size: 50px;
  top: 32%;
  right: 48.5%;
}

.newsSbuArrow {
  position: absolute;
  font-size: 50px;
  top: 32%;
  right: 0%;
  color: rgb(85, 85, 85);
}

/* twitter */
.twitter {
  position: relative;
  /* 세로 중앙 정렬 */
  padding: 4.42% 0;
  /* 위 아래 경계선 */
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(23, 23, 23);
}

.twitter::after {
  content: "";
  display: block;
  clear: both; 
}

.twitterHeading {
  position: absolute;
}

.twitterContent1, .twitterContent2, .twitterContent3 {
  width: 25%;
  font-size: 15px;
}

.twitterContent1 {
  float: left;
  margin: 0 3% 0 12%;
}

.twitterContent2 {
  float: left;
  margin: 0 2% 0 4%;
}

.twitterContent3 {
  float: right;
}

.twitterContentHeading {
  font-weight: 300;
}

.twitterContentHeading > a {
  color: rgb(85, 172, 238);
}

.twitterContentDate {
  display: inline-block;
  font-size: 12px;
  color: rgb(85, 85, 85);
  margin-top: 3%;
}


/****************************************
* footer *
****************************************/

.footerWrapper {
  position: relative;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 80px 0 30px 0;
}

.footerWrapper::after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  margin: 0 8.33%;
  font-size: 14px;
  width: 100%;
}

.footerHeading {
  position: absolute;
  top: 75px;
  left: 3.54%;
}

.contacts, .office, .social {
  float: left;
  width: 28%;
}

.contactsHeading, .officeHeading, .socialHeading {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 400;
}

.contactsList, .officeList, .socialList01, .socialList02 {
  display: inline-block;
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  margin-left: 20%;
}

.contactsListItem:first-child, .socialListItem:first-child {
  margin-bottom: 22px;
}

.contactsListItem:hover, .officeListItem:hover {
  color: rgb(67, 243, 200);
}

.socialListItem:hover {
  color: rgb(277, 80, 135);
}


/****************************************
*  media 시작*
****************************************/


 @media screen and (min-width: 1025px) and (max-width: 1920px) {

  .image-box {
    width: 25%;
    padding-bottom: 25%;
  }
   .burggerMenu {
    display: none;
  } 
}

@media screen and (min-width: 751px) and (max-width: 1024px) {

  .image-box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
  .ioButton, .subIoButton, .burggerMenu {
    display: none;
  }

  /* community */
    /* news */
  .newsSubContent, .newsSbuArrow {
    display: none;
  }
  .newsHeading {
    margin-top: 4%;
  }
  .newsMainContent {
    width: 70%;
    margin: 4% 5% 4% 18%;
  }
  .newsContentHeading {
    font-size: 20px;
  }
  .newsContentDate {
    font-size: 14px;
  }
  .newsMainArrow {
    right: 0%;
    color: rgb(85, 85, 85);
  }
    /* twitter */
  .twitterHeading {
    position: absolute;
    margin-top: 4%;
  }

  .twitterContentHeading {
    font-size: 16px;
  }
  .twitterContentDate {
    font-size: 12px;
  }
  .twitterContent1 {
    margin: 4% 8% 4% 18%;
    width: 32%;
  }
  .twitterContent2 {
    margin: 4% 5%;
    width: 32%;
  }
  .twitterContent3 {
    display: none;
  }

  /* footer */
  .footerHeading > a > img {
    width: 18px;
  }
  .contacts, .office {
    width: 38%; 
  }
  .contactsList {
    margin-left: 18%;
  }
  .office {
    margin-left: 8%;
  }
  .officeList{
    margin-left: 18%;
  }
  .social {
    display: block;
    width: 100%;
    margin-top: 6%;
  }
  .socialList01 {
    margin-left: 10%;
    width: 20%;
  }
  .socialList02 {
    margin-left: 0%;
    width: 20%;
  }
  .socialListItem {
    display: inline-block;
    margin-right: 14%;
  }
}

/* phon */
@media screen and (max-width: 750px) {

  .mainText {
    font-size: 30px;
  }
  .image-box {
    width: 50%;
    padding-bottom: 50%;
  }
  .ioButton, .navMenu, .mainList, .subHeaderWrapper {
    display: none;
  }
  .main {
    margin-bottom: 25%;
  }
  /* community */
    /* news */
  .newsSubContent, .newsSbuArrow {
    display: none;
  }
  .newsHeading {
    margin-top: 10%;
    font-size: 14px;
    font-weight: 300;
  }
  .newsMainContent {
    width: 60%;
    margin: 10% 5% 10% 20%;
  }
  .newsContentHeading {
    font-size: 14px;
  }
  .newsContentDate {
    font-size: 12px;
  }
  .newsMainArrow {
    right: 0%;
    color: rgb(85, 85, 85);
  }

  .twitterHeading {
    margin-top: 10%;
    font-size: 14px;
    font-weight: 300;
  }
  .twitterContentHeading {
    font-size: 14px;
  }
  .twitterContentDate {
    font-size: 10px;
  }
  .twitterContent1 {
    margin: 10% 10% 5% 20%;
    width: 60%;
  }
  .twitterContent2 {
    margin: 5% 10% 10% 20%;
    width: 60%;
  }
  .twitterContent3 {
    display: none;
  }

  /* footer */
  .footerHeading {
    top: 30px;
    left: 30px;
  }
  .footerHeading > a > img {
    width: 12px;
  }
  .contacts {
    display: block;
    width: 100%;
  }
  .contactsHeading, .officeHeading, .socialHeading {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-left: 0%;
  }
  .contactsList {
    margin-left: 6%;
  }
  .officeList {
    margin-left: 8%;
  }
  .contactsListItem {
    display: inline-block;
    margin-right: 10px;
  }
  .office {
    width: 100%;
  }
  .social {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
  .socialList01 {
    margin-left: 8%;
    width: 24%;
  }
  .socialList02 {
    margin-left: 0%;
    width: 24%;
  }
  .socialListItem {
    display: inline-block;
    margin-right: 50px;
  }
}

/* media 종료 */
